@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --copper: #e6703d;
  --lightCopper: #ffc4a8;
  --green: #00a307;
  --lightGreen: #b8ffbb;
  --yellow: #dad100;
  --lightYellow: #fffcae;
  --blue: #002fa9;
  --lightBlue: #b0c6ff;
  --purple: #6300a0;
  --lightPurple: #e1b1ff;
}

.key-copper {
  background-color: var(--copper);
  border-color: var(--lightCopper);
}

.key-green {
  background-color: var(--green);
  border-color: var(--lightGreen);
}

.key-yellow {
  background-color: var(--yellow);
  border-color: var(--lightYellow);
}

.key-blue {
  background-color: var(--blue);
  border-color: var(--lightBlue);
}

.key-purple {
  background-color: var(--purple);
  border-color: var(--lightPurple);
  color: white;
}

.key-white {
  background-color: black;
  border-color: white;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.key {
  position: relative;
  border-width: 2px 2px 6px 2px;
  /* border-color: var(--lightCopper); */
  border-style: solid;
}

.button-clicked {
  position: relative;
  top: 2px;
  border-width: 2px;

  /* animation: keyPress 0.1s linear 0s forwards; */
}

button:hover {
}

@keyframes keyPress {
  from {
    top: 0px;
    border-width: 2px 2px 6px 2px;
  }

  to {
    top: 2px;
    border-width: 2px;
  }
}

/* .button::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
  top: 5px;
  left: 0px;
  padding: 4px;
  /* z-index: -1; 
} */

.color-button {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border-width: 4px;
  /* position: absolute; */
  /* transition: all 1s; */
}
