@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
:root {
  --copper: #e6703d;
  --lightCopper: #ffc4a8;
  --green: #00a307;
  --lightGreen: #b8ffbb;
  --yellow: #dad100;
  --lightYellow: #fffcae;
  --blue: #002fa9;
  --lightBlue: #b0c6ff;
  --purple: #6300a0;
  --lightPurple: #e1b1ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.key-pressed {
  position: relative;
  top: 4px;
  scale: 0.99;
}

/* LAPTOP */

@media screen and (min-width: 1280px) {
  .screen-size::after {
    content: "LAPTOP";
  }
  .typeWriterContainer {
    color: white;
    max-width: 1280px;
    width: max-content;
    height: auto;
    margin: auto;
    background-image: url("./assets/texture.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textarea {
    margin: auto;
    min-height: 3.1rem;
    font-weight: 700;
    background: #e0e0e0;
    font-family: "Courier Prime", monospace;
    color: #7d411b;
    border: 1.5px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 1px 1.5px rgb(0, 0, 0, 0.1),
      0px 0px 1px 1.5px rgb(255, 255, 255) inset;
  }

  .textarea-gradient {
    background: linear-gradient(
      90deg,
      rgba(234, 234, 234, 1) 0%,
      rgba(234, 234, 234, 1) 2%,
      rgba(234, 234, 234, 0) 8%,
      rgba(234, 234, 234, 0) 100%
    );
  }

  .outer-circle,
  .inner-circle,
  .white-ring {
    border-radius: 100%;
  }
  .outer-circle-kb,
  .inner-circle-kb,
  .white-ring-kb {
    border-radius: 3rem;
  }

  .base-frame {
    fill: #000;
    filter: drop-shadow(
        0px 1.596024513244629px 1.1970183849334717px rgba(0, 0, 0, 0.13)
      )
      drop-shadow(
        0px 5.360713958740234px 4.020535469055176px rgba(0, 0, 0, 0.2)
      )
      drop-shadow(0px 24px 18px rgba(0, 0, 0, 0.33));
  }

  .outer-circle {
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    flex-shrink: 0;
    overflow: hidden;
    background: radial-gradient(
      101.02% 101.02% at 48.48% -0%,
      #4d4d4d 0%,
      #000 100%
    );
  }

  .white-ring-border {
    filter: blur(1.5px);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.3rem;
    height: 3.3rem;
    background-image: linear-gradient(
      150deg,
      #fff2c5 0%,
      rgba(255, 246, 215, 0.1) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2.835rem;
    height: 2.835rem;
    background: radial-gradient(
      66.81% 66.81% at 50% 34.24%,
      #272727 0%,
      #0d0d0d 100%
    );
  }

  .outer-circle p {
    text-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-family: "Courier Prime", monospace;
    color: transparent;
    background-image: linear-gradient(160deg, #fdb48b 0%, #432f23 100%);
    background-clip: text;
  }

  .outer-circle-kb {
    position: relative;
    width: 22.5rem;
    height: 3.75rem;
    flex-shrink: 0;
    overflow: hidden;
    background: radial-gradient(
      101.02% 101.02% at 48.48% -0%,
      #4d4d4d 0%,
      #000 100%
    );
  }

  .white-ring-border-kb {
    filter: blur(1.5px);
    border-radius: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21.8rem;
    height: 3.3rem;
    background-image: linear-gradient(
      170deg,
      rgb(255, 242, 197, 0.5) 0%,
      rgba(255, 246, 215, 0.1) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .inner-circle-kb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 21.4rem;
    height: 2.835rem;
    background: radial-gradient(
      66.81% 66.81% at 50% 34.24%,
      #272727 0%,
      #0d0d0d 100%
    );
  }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen-size::after {
    content: "TABLET";
  }
}

/* MOBILES */

@media screen and (max-width: 767px) {
  .screen-size::after {
    content: "MOBILES";
  }
}

/* .key-copper {
  background-color: var(--copper);
  border-color: var(--lightCopper);
}

.key-green {
  background-color: var(--green);
  border-color: var(--lightGreen);
}

.key-yellow {
  background-color: var(--yellow);
  border-color: var(--lightYellow);
}

.key-blue {
  background-color: var(--blue);
  border-color: var(--lightBlue);
}

.key-purple {
  background-color: var(--purple);
  border-color: var(--lightPurple);
  color: white;
}

.key-white {
  background-color: black;
  border-color: white;
  color: white;
}

}

.key {
  position: relative;
  border-width: 2px 2px 6px 2px;
  /* border-color: var(--lightCopper); */
/* border-style: solid;
}

.key:hover {
  filter: brightness(0.8);
}

.button-clicked {
  position: relative;
  top: 2px;
  border-width: 2px;

  /* animation: keyPress 0.1s linear 0s forwards; */
/* }

button:hover {
}

@keyframes keyPress {
  from {
    top: 0px;
    border-width: 2px 2px 6px 2px;
  }

  to {
    top: 2px;
    border-width: 2px;
  }
} */
*/

/* .button::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
  top: 5px;
  left: 0px;
  padding: 4px;
  /* z-index: -1; 
} */

/* .right-0 {
  right: 0rem;
}
.right-10 {
  right: 2.5rem;
}
.right-20 {
  right: 5rem;
}
.right-30 {
  right: 7.5rem;
}
.right-40 {
  right: 10rem;
}
.right-50 {
  right: 12.5rem;
}
.right-60 {
  right: 15rem;
} */

/* .w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2.1rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}
.w-18 {
  width: 4.7rem;
}
.w-20 {
  width: 5rem;
}
.w-22 {
  width: 5.3rem;
}

.w-24 {
  width: 6rem;
}
.w-26 {
  width: 6.8rem;
}
.w-28 {
  width: 7rem;
}
.w-34 {
  width: 8.5rem;
}
.w-57 {
  width: 14.3rem;
} */

.w-60 {
  width: 15rem;
}
.w-66 {
  width: 17rem;
}
.w-68 {
  width: 17.5rem;
}
.w-82 {
  width: 19.75rem;
}
